@page
@model {{cookiecutter.company_name}}.{{cookiecutter.project_name}}.DemoApp.Pages.IndexModel
<h3>Welcome to the {{cookiecutter.project_name}} demo application.</h3>
<a href="/Account/Login">Login</a>